.record {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.check {
	width: 4%;
	display: inline-block;
}

.col {
	width: 20%;
	display: inline-block;
	font-size: 18px;
	text-align: left;
    font-weight: 600;
}

.option {
    height: 100%;
	width: 4%;
	display: inline-block;
}

.add {
    height: 100%;
    color: #00744a;
    font-size: 18px;
}

.edit:hover {
    cursor: pointer;
}

.edit {
    height: 100%;
    color: #134B70;
    font-size: 18px;
}

.edit:hover {
    cursor: pointer;
}

.delete {
    height: 100%;
    color: #920000;
    font-size: 18px;
}

.delete:hover {
    cursor: pointer;
}

.display {
    height: 100%;
    color: #201E43;
    font-size: 18px;
}

.display:hover {
    cursor: pointer;
}