.record {
    width: 100%;
    padding: 10px 0;
}

.col5 {
    width: 20%;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

.col10 {
    display: inline-block;
    width: 10%;
}

.delete {
    background-color: rgb(146, 0, 0);
    color: white;
    border-radius: 20%;
    border: 1px solid rgb(146, 0, 0);
    padding: 5px;
    margin: 0 5px;
}

.display {
    border-radius: 50%;
    border: 1px solid #508C9B;
    background-color: #508C9B;
    margin: 5px;
}