.tableHeader {
    width: 100%;
}

.tableLabel {
    font-weight: 500;
}

.col-5 {
    width: 20%;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

.col-10 {
    width: 10%;
    display: inline-block;
}
