.container {
  display: flex;
}

.details{
  flex: 3;
}


.controls {
  flex: 1;
}

.controls svg {
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.label {
  color: #508C9B;
  font-weight: 500;
}

.data {
    font-weight: 500;
}

.col2 {
    display: inline-block;
    width: 70%;
}

.col4 {
    display: inline-block;
    width: 30%;
}

.option {
    display: inline-block;
    width: 25%;
}
